### Go template
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea

# Go workspace file
go.work
go.work.sum

# env file
node_modules
.env
.artifacts
**.pb.go
**.pb.*.go
!pkg/extension/*.pb.go
**.connect.go

# 忽略 ent 目录下的所有文件和子目录
internal/database/ent
# 但不要忽略 schema 目录本身
!internal/database/ent/schema/
## 不要忽略 schema 目录下的所有 .go 文件
!internal/database/ent/schema/*.go
## 不要忽略 generate.go 文件
!internal/database/ent/generate.go

internal/**/*.bak
internal/protoc/protoc-gen-*/protoc-gen-*

*.lic

*.dict.sql
*.dict.md
