{{/* 下一行的作用是，告诉 Intellij/GoLand 等IDE，基于 gen.Graph 类型来启用自动补全功能。 */}}
{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "hook/password" }}

{{ with extend $ "Package" "hook" }}
	{{ template "header" . }}
{{ end }}

var (
	passwordEncoder password.Encoder
)

func PasswordHook(next ent.Mutator) ent.Mutator {
	return ent.MutateFunc(func(ctx context.Context, m ent.Mutation) (ent.Value, error) {
		var uf UserFunc = func(ctx context.Context, mutation *ent.UserMutation) (ent.Value, error) {
			switch mutation.Op() {
			case ent.OpCreate, ent.OpUpdate, ent.OpUpdateOne:
				if pwd, exists := mutation.Password(); exists {
					if passwordEncoder == nil {
						passwordEncoder = password.CreateDelegatingPasswordEncoder()
					}
					cipherText := passwordEncoder.Encode(pwd)
					mutation.SetPassword(cipherText)
				}
			default:
				return next.Mutate(ctx, mutation)
			}
			return next.Mutate(ctx, mutation)
		}
		return uf.Mutate(ctx, m)
	})
}
{{ end }}